/** { padding: 0;
margin: 0;
box sizing: border-box; }
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");

body {
    background: plum;

}

/*

.box1{ 

width: 100px;
height: 400px;
background: green;
margin: 150px;

position: relative;
top: 50px;
left: 50px;
}


.box2 {

width:  100px;
height: 100px;
background: green;
margin: 150px; 

position: relative;
bottom: 500px;
left: 150px;
 
 }

 .box3 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 150px; 

    position: relative; 
    bottom: 850px;
    left:  150px;
}

.box4 { 

    width: 100px;
    height: 100px;
    background: hotpink;
    margin: 150px;

    position: relative;
    bottom: 900px;
    left: 150px;

 }

.box5 { 

    width: 100px;
    height: 100px;
    background: hotpink;
    margin: 150px;

    position: relative;
    bottom: 1380px;
    left: 228px;

}


.box6 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 118px;

    position: relative;
    bottom: 1580px;
    left: 280px;

}

.box7 {

    width: 100px;
    height: 100px;
    background: hotpink;
    margin: 118px;

    position: relative;
    bottom: 1755px;
    left: 216px;
}

.box8 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 118px;

    position: relative;
    bottom: 1807px;
    left: 281px;
}

.box9 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 118px;

    position: relative;
    bottom: 2153px;
    left: 270px;
}

.box10 {

    width: 100px;
    height: 100px;
    background: hotpink;
    margin: 118px;

    position: relative;
    bottom: 2338px;
    left: 270px;

}

.box11 { 

    width: 100px;
    height: 100px;
    background: hotpink;
    margin: 118px;

    position: relative;
    bottom: 2648px;
    left: 370px;

}

.box12 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 118px;

    position: relative;
    bottom: 2766px;
    left: 181px;

}


.box13 {

    width: 100px;
    height: 100px;
    background: pink;
    margin: 118px;

    position: relative;
    bottom: 2992px;
    left: 350px;

}

.M-left {

    width:  50px;
    height:  200px;
    background: royalblue;
    transform: skew(0deg);
    transform-orgin: 100% 100%;
    position: relative;
    bottom: 2992px;
    left:  350px;

}

.M-middle-left {
    width:  50px;
    height:  200px;
    background: royalblue;
    transform: skew(10deg);
    transform-orgin: 100% 100%;
    position: relative;
    bottom: 3192px;
    left:  405px;

}

.M-middle-right{
    width:  50px;
    height:  200px;
    background: royalblue;
    transform: skew(-10deg);
    transform-orgin: 100% 100%;
    position: relative;
    bottom: 3392px;
    left:  442px;


}

.M-right {

  width:  50px;
    height:  200px;
    background: royalblue;
    transform: skew(0deg);
    transform-orgin: 100% 100%;
    position: relative;
    bottom: 3592px;
    left:  498px;





}
*/



h1 {
    font-family: 'Futura', sans-serif;
    font-size: 200px;
    line-height: 1em;
    color: rebeccapurple;
}

a:link,
    a:visited {

        color: white
    }

h2 {

font-family:'Spartan', sans-serif;
font-size: 40px;
line-height: 0.9em;
color: white;

  }
 
 h3 { 

font-family:'Times New Roman', sans-serif;
font-size: 40px;
line-height: 0.9em;
color: white;
}







